name: hidden_drawer_menu
description: Hidden Drawer Menu is a library for adding a beautiful drawer mode menu feature with perspective animation
version: 2.0.1
homepage: https://github.com/RafaelBarbosatec/hidden_drawer_menu

environment:
  sdk: ">=2.12.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:

